extends ../layout
block content
   a(href ='/bicicletas') Volver
   br
   br
   h1 Nueva Bicicleta
   br
   br
   form(action='/bicicletas/create' method='post')
     img(src='https://wallerbmx.co.uk/cdn/shop/products/mafiabike-blackjack-d-complete-bmx-bike-grey-01_1100x.jpg?v=1663846845' alt='Flowers in Chania' width='460' height='346')
     br
     br
     label(for='id' ) ID:
     input#id(type='text'  name='id')
     br
     br
     label(for='color') Color:
     input#id(type='text' name='color')
     br
     br
     label(for='modelo') Modelo:
     input#id(type='text' name='modelo')
     br
     br
     label(for='lat' style='color:MediumSeaGreen') Latitud:
     input#id(type='text' name='lat' )
     br
     br
     label(for='lng') Longitud:
     input#id(type='text' name='lng')
     br
     br
     input.btn(type='submit' value='OK')